.filter-controls {
    background-color: var(--bg-light);
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: 10px;
    flex-wrap: wrap;
    white-space: normal;
}

.filter-controls label {
    font-size: var(--font-size-lg);
    margin-right: 15px;
    cursor: pointer;
    white-space: nowrap;
    font-family: var(--font-family);
}

.start-container {
    margin-top: 3rem;
    text-align: center;
}

.start-container .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.top-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    margin-top: 20px;
}

.controls-center {
    flex: 1;
    display: flex;
    justify-content: center;
    max-width: 1100px;
    margin-top: 40px;
    width: 100%;
}

.container-fluid.pb-3 {
    margin-top: 20px;
}

.main-content-area {
    position: relative;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-top: 0.5em;
}

.back-button {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    margin-top: 0;
}

.back-button:hover {
    color: white !important;
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}