body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-light);
}

.login-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
}