<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" onerror="fallbackToLocalCSS(this)">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" onerror="fallbackToLocalIcons(this)">
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" onerror="fallbackToLocalJS(this)"></script>
    <script src="{{ url_for('static', filename='js/energyUtils.js') }}"></script>
    <script>
        window.appConfig = {
            baseUrl: '{{ BASE_URL }}',
            serveImagesViaFlask: {{ 'true' if SERVE_IMAGES_VIA_FLASK else 'false' }},
            imagesUrlPrefix: '{{ IMAGES_URL_PREFIX }}'
        };

        const baseUrl = window.appConfig.baseUrl;
    </script>


    {% block extra_js %}{% endblock %}
</body>
</html>