{% extends "base.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="card login-card shadow-sm">
    <div class="card-body">
        <h3 class="card-title text-center mb-4">Inicio de Sesión</h3>
        {% with messages = get_flashed_messages(with_categories=true ) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('login') }}">
            <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Acceder</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}